<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Carros</h1>
        <a href="<%= new_carro_path %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Novo carro</a>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Lista dos Carros disponíveis</h6></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Km</th>
                            <th>Matricula</th>
                            <th>Cor</th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @carros.each do |carro| %>
                            <tr>
                                <td><%= carro.marca %></td>
                                <td><%= carro.modelo %></td>
                                <td><%= carro.km %></td>
                                <td><%= carro.matricula %></td>
                                <td><%= carro.cor %></td>
                                <td><%= link_to 'Show', carro %></td>
                                <td><%= link_to 'Edit', edit_carro_path(carro) %></td>
                                <td><%= link_to 'Destroy', carro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<br>

