

<!-- Modal -->
<div class="modal fade" id="entrar-em-contacto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-light text-dark" id="exampleModalLabel">Estou interessado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <%= simple_form_for @interess do |f| %>


                <div class="modal-body">
                    <%= f.hidden_field :carro_id %>
                    
                    <%= f.input :nome, input_html: { class: 'form-control form-control-sm' }  %>
                    <%= f.input :telefone, input_html: { class: 'form-control form-control-sm' }  %>
                    <%= f.input :proposta, input_html: { class: 'form-control form-control-sm' }  %>
                    <%# f.input :visita, input_html: { class: 'form-control form-control-sm' } , label: "Quando estas disponível para ver ?"  %>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm text-light" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-interesse btn-sm text-light">Enviar</button>
                </div>


            <% end %>

        </div>
    </div>
</div>
