<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Propostas</h1>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Lista das propostas</h6></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Proposta</th>
                            <th>Visita</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @interesses.each do |interess| %>
                            <tr>
                                <td><%= interess.nome %></td>
                                <td><%= interess.telefone %></td>
                                <td><%= interess.proposta %></td>
                                <td><%= interess.visita %></td>
                                <td><%= link_to 'Show', interess %></td>
                                <td><%= link_to 'Destroy', interess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<br>

