
<section class="ftco-section testimony-section">
    <div class="overlay"></div>

    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading"><%= @carro.marca %> - <%= @carro.modelo %></span>
                <h2 class="mb-3"><%= @carro.preco_total.to_kwanza %></h2>
            </div>
        </div>

        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="card">
                    <%= image_tag(@carro.destaque.variant(resize: '1000x1000')) %>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <% @carro.files.each do |file| %>
                    <div class="col-md-4 d-flex ftco-animate">
                        <a href="<%= url_for(file) %>" data-imagelightbox="demo">
                            <img src="<%= url_for(file) %>" class="img-fluid">
                        </a>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="col-md-6">
            <p><strong>Km:</strong><%= @carro.km %></p>
            <p><strong>Matricula:</strong><%= @carro.matricula %></p>
            <p><strong>Cor da viatura: </strong><%= @carro.cor %></p>
            <p><strong>Tipo: </strong><%= @carro.combustivel %></p>
            <p><strong>Descrição :</strong><%= @carro.descricao %></p>
        </div>
    </div>


</div>


<hr>

<link href="/box/imagelightbox.css" rel="stylesheet">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/box/imagelightbox.js"></script>

<script>
    $('a[data-imagelightbox="demo"]').imageLightbox();
</script>