
<section class="ftco-section testimony-section">
    <div class="overlay"></div>

    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading"><%= @carro.marca %> - <%= @carro.modelo %></span>
                <h2 class="mb-3"><%= @carro.preco_total.to_kwanza %></h2>
            </div>
        </div>

        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="card">
                    <%= image_tag(@carro.destaque, class: "img-fluid") %>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <% @carro.files.each do |file| %>
                    <div class="col-md-4 d-flex ftco-animate" style="margin-bottom: 20px;">
                        <a href="<%= url_for(file) %>" data-imagelightbox="demo">
                            <img src="<%= url_for(file) %>" class="img-fluid img-thumbnail">
                        </a>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="col-md-6">
            <p>
                <% if @carro.disponivel %>
                    <span class="badge badge-success">Disponível</span>
                <% else %>
                    <span class="badge badge-danger">Indisponível</span>
                <% end %>

                <button type="button" class="btn btn-interesse btn-sm" data-toggle="modal" data-target="#entrar-em-contacto">
                    Estou interessado
                </button>
            </p>


            <p><strong>Preço: </strong><%= @carro.preco_total.to_kwanza %></p>
            <p><strong>Marca: </strong><%= @carro.marca %></p>
            <p><strong>Modelo: </strong><%= @carro.modelo %></p>
            <p><strong>Cor da viatura: </strong><%= @carro.cor %></p>
            <p><strong>Km: </strong><%= number_with_delimiter(@carro.km) %></p>
            <p><strong>Descrição :</strong><%= @carro.descricao %></p>
        </div>
    </div>


</div>


<hr>

<link href="/box/imagelightbox.css" rel="stylesheet">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/box/imagelightbox.js"></script>

<script>
    $('a[data-imagelightbox="demo"]').imageLightbox();
</script>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="entrar-em-contacto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

