<p id="notice"><%= notice %></p>

<h1>Quero Carros</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Preco</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quero_carros.each do |quero_carro| %>
      <tr>
        <td><%= quero_carro.marca %></td>
        <td><%= quero_carro.modelo %></td>
        <td><%= quero_carro.preco %></td>
        <td><%= quero_carro.nome %></td>
        <td><%= quero_carro.telefone %></td>
        <td><%= quero_carro.descricao %></td>
        <td><%= link_to 'Show', quero_carro %></td>
        <td><%= link_to 'Edit', edit_quero_carro_path(quero_carro) %></td>
        <td><%= link_to 'Destroy', quero_carro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quero Carro', new_quero_carro_path %>
