<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @quero_carro.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @quero_carro.modelo %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @quero_carro.preco %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @quero_carro.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @quero_carro.telefone %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @quero_carro.descricao %>
</p>

<%= link_to 'Edit', edit_quero_carro_path(@quero_carro) %> |
<%= link_to 'Back', quero_carros_path %>
