    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand-default d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15"><img src="/logo.png" style="width: 100px;"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= carros_path %>"><i class="fas fa-fw fa-chart-area"></i> <span>Carros</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= interesses_path %>"><i class="fas fa-fw fa-chart-area"></i> <span>Propostas</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= quero_carros_path %>"><i class="fas fa-fw fa-cars"></i> <span>Quero carro</span></a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <li class="nav-item">
        <%= link_to destroy_user_session_url, method: :delete, class: "nav-link" do %>
          <i class="fas fa-fw fa-sign-out-alt"></i> <span><%= t('logout') %></span>
        <% end %>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>



    </ul>
    <!-- End of Sidebar -->