    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <a class="sidebar-brand-default d-flex align-items-center justify-content-center link-logo" href="/">
        <br>
        <div class="sidebar-brand-icon"> <%= image_tag 'logo_branco.png',  style: "width: 200px;" %></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fas fa-fw fa-tachometer-alt nav-black"></i> <span>Dashboard</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link nav-black" href="<%= carros_path %>"><i class="fas fa-car nav-black"></i> <span>Carros</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link nav-black" href="<%= interesses_path %>"><i class="fas fa-fw fa-chart-area nav-black"></i> <span>Propostas</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link nav-black" href="<%= quero_carros_path %>"><i class="fas fa-car nav-black"></i> <span>Quero carro</span></a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <li class="nav-item">
        <%= link_to destroy_user_session_url, method: :delete, class: "nav-link nav-black" do %>
          <i class="fas fa-fw fa-sign-out-alt nav-black"></i> <span><%= t('logout') %></span>
        <% end %>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>



    </ul>
    <!-- End of Sidebar -->